# default behavior
* text=auto eol=lf

# files we don't want to change on checkout / checkin
/docs/assets/**/*.* binary
*.woff binary
*.woff2 binary
*.png binary
*.jpg binary
*.PNG binary
*.JPG binary
*.jpeg binary
*.ico binary
*.gif binary
